---
layout: default
---

<div class="reveal">
    <div class="slides">
    {% assign sorted_pages = site.pages | sort:"url" %}
    {% for slide in sorted_pages %}
        {% if slide.layout == 'slide' %}
            {% assign group = slide.url | split:"/" %}
            {% for item in group limit:1 offset:2 %}{% assign page = item %}{% endfor %}
            {% unless prev_page %}<section>{% endunless %}
            {% if prev_page and page != prev_page %} </section><section> {% endif %}
            <section class="{{ page }}"> {{ slide.content | markdownify }}<div class="time"></div> </section>
            {% assign prev_page = page %}
        {% endif %}
        {% if forloop.last %} </section> {% endif %}
    {% endfor %}
    </div>
</div>
