<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <link rel="stylesheet" type="text/css" href="assets/css/reveal.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/night.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
</head>
<body>

{{ content }}

<script type="text/javascript" src="assets/js/reveal.min.js"></script>
<script type="text/javascript">
Reveal.initialize({
  controls: true,
  progress: true,
  history: true,
  center: true
});
</script>
</body>
</html>
